body {
    background: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    perspective: 45em;
}

.container {
    position: relative;
    transform-style: preserve-3d;
}

.circle {
    border-radius: 50%;
    background: #F88158;
    width: 1em;
    height: 1em;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translate(-50%,-50%);
    animation: bounce 2s cubic-bezier(0.5,0,0.5,1) infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translate(-5em, 0);
    }
    12.5% {
        transform: translate(-3.75em, 2.5em);
    }
    25% {
        transform: translate(-2.5em, 0);
    }
    37.5% {
        transform: translate(-1.25em, 2.5em);
    }
    50% {
        transform: translate(0, 0);
    }
    62.5% {
        transform: translate(1.25em, 2.5em);
    }
    75% {
        transform: translate(2.5em, 0);
    }
    87.5% {
        transform: translate(3.75em, 2.5em);
    }
    100% {
        transform: translate(5em, 0);
    }
}

.floor {
    position: absolute;
    width: 10em;
    height: 8em;
    background: green;
    transform: rotateX(90deg) translate(-50%, -50%);
    transform-origin: center;
    z-index: 0;
}
